* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.separator_line {
  width: 80%;
  margin: 30px auto;
  border: 1px solid #e8e8e8;
}

.category {
  font-size: 2.5rem;
  color: #121212;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}